permissions:
  contents: write

name: Update GitHub Streak

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  streak:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download streak SVG
        run: |
          curl -L "https://streak-stats.demolab.com?user=khizer08&theme=tokyonight&hide_border=true" -o streak.svg

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add streak.svg
          git commit -m "Update streak" || exit 0
          git push
